*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./img/bg-sun.jpg');
    background-position: center;
}
.search{
    width: 35vw;
    margin: 1rem;
    display: flex;
    justify-content: center;
    margin-top: 1.3rem;
}
.search input{
    text-align: center;
    font-size: 1.3rem;
    border-radius: 3rem;
    background: rgba(0, 0, 0, 0.1);
    color: white;
    border: 2px black solid;
    outline: none;
}
.search input:focus{
    background: #ffffff;
    color: black;
}
.search input::placeholder {
    color: white;
}
.search button{
    width: 2.5vw;
    height: 2.5vw;
    padding: .5rem;
    margin: 0.3rem;
    color: white;
    font-size: 1.3rem;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
    border: 1px black solid;
}
.search button:hover{
    cursor: pointer;
    color: black;
    background: white;
    

}
.search button:hover .buttonSvg{
    fill: black;
}
.search button:hover .iconSearch{
    color: black;
}
.search button:hover .iconStar{
    color: gold;
}
.mainContent{
    width: 40vw;
    height: auto;
    background: rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right bottom , rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 1px 1px black;
    border-radius: 10%;
}
.heading{
    padding: 1rem;
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 4rem;
    text-shadow: 3px 3px black;
}
.cityName{
    text-transform: uppercase;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
}

.mainInformation{
    display: flex;
    width: 100%;
}
.temp{
    padding: 1rem;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 4;
}
.teampOne{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tempMoreInformation, .wind{
    flex-grow: 2;
    font-size: 1.2rem;
    align-self: center;
}
.wind{
    margin-top: .5rem;
}
.clouds, .sunRise, .sunSet{
    padding: 1rem;
}
.sun{
    display: flex;
}


@media (min-width:1231px){
    .mainContent{
        width: 50vw;
        height: auto;
    }
    .search button{
        border-radius: 50%;
        
    }
       .searchInput{
        width: 254px;
        height: 3vw;
    }
    .search button{
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
    }
       .icon{
         font-size: 1rem; 
       }
       .search{
           
           align-items: center;
           flex-direction: row;
       }
       .buttons{
           display: flex;
           justify-content: center;
           align-items: center; 
       }
}

@media (max-width: 1230px){
    *{
        font-size: 1.2rem;
    }
    .mainContent{
        width: 60vw;
        height: auto;
    }
    .searchInput{
        width: 254px;
        height: 54px;
    }
    .buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .search button{
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
    }
    .icon{
        font-size: 1rem; 
      }
    
}
@media (max-width:1024px){
    *{
        font-size: 1rem;
    }
    .mainContent{
        width: 60vw;
        height: auto;
    }
    .search{
        flex-direction: column;
        align-items: center;
    }
    .buttons{
        display: flex;
        justify-content: center;
    }
    .search button{
        border-radius: 0%;
        width: 5vw;
        height: auto;
    }

   
}
@media (max-width:768px){
    *{
        font-size: .8rem;
    }
   .heading{
       font-size: 1rem;
   }
   .mainContent{
       width: 90vw;
       height: auto;
   }
   .temp{
       padding: 0;
   }
   .tempimg{
       width: 50px;
       height: auto;
   }
   .search button{
    border-radius: 0%;
    width: 5vw;
    height: auto;
   }
   .icon{
     font-size: 1rem; 
   }
   .search{
       flex-direction: column;
   }
   .buttons{
       display: flex;
       justify-content: center;
   }
}